# build outputs
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

# binaries / objects
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db